@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

/* public start*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
body {
  font-family: "Poppins", sans-serif;
}
.container {
  width: calc(100% - 120px);
  margin: auto;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
/* public end*/

/* header start */
.header {
  padding:20px 1px;
  background-color: white;
  box-shadow: 0px 1.64744px 8.2372px 0px rgba(0, 0, 0, 0.10);;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9;
}
.header .logo {
  display: flex;
  align-items: center;
  gap: 6px;
}
.header .row .logo img {
  width: 32px;
}
.header .row .logo a {
  color: #545be8;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}
.header nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.header .row nav ul a {
  color: #101928;
}
.header .row .active {
  font-weight: 800;
}
.header .row .auto {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.header .auto a {
  padding: 6px 29px;
  border-radius: 10px;
  font-family: "Inter", sans-serif;
  font-size: 13px;
  display: flex;
  align-items: center;
}
.header .row .auto .login {
  border: 1px solid #545be8;
  color: #545be8;
  background-color: #fff;
}
.header .row .auto .register {
  background-color: #545be8;
  color: #fff;
}
/* header end */
